*{
    box-sizing: border-box;
}
.board{
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.itemDiv{
    width:280px;
    position: relative;
    border:1px black solid;
    transition: 0.1s ease-out;
    cursor: pointer;
}
.itemDiv:hover{
    transform:scale(1.03);
    transition: 0.1s ease-in;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.6);
    opacity: -1;
}
.darker{
    transition:0.3s ease;
}
.bodyDiv{
    display:flex;
    flex-wrap:wrap;
}
.favImg{
    width: 18px;
    height: 18px;
    margin:2px;
    border: 0.5px black solid;
    padding:1px;
}
.btnsDiv{
    opacity: 0;
    position: absolute;
    z-index: 2;
}
.horizon_line{
    margin: auto;
}
.horizon_line > div{
    margin: 15px 0 5px 0;
    /* padding: 100px 50px 30px 50px; */
    background-color: black;
    width: 80px;
    height: 3px;
    border-radius: 20%;
}
.loading{
    border-color: red;
    color:red;
}

/* ↓ drag and drop */
.invisible{
    opacity: 0;
}
.hold{
    border: cadetblue 3px dotted;
}
.wrapper{
    opacity: 1;
    margin-top: 10px;
    background-color: white;
}
.over{
    background-color: rgb(57, 149, 255);
}