*{
    box-sizing: border-box;
}
.tab{
    width: 120px;
    height: 90px;
    border-radius: 10%;
    border: black solid 1px;
}

#folderBox{
    display: grid;
    grid-template-columns: auto auto;
    gap:10px 10px;
}
.thumbNail{
    position: relative;
}

.thumbNailClose{
    font-size: 2px;
    position:absolute;
    z-index: 1;
    border-radius: 50%;
    border:black 0.5px solid;
    padding: 0;
    width: 15px;
    height: 15px;
    text-align: center;

    opacity: 0;
    top:-5px;
    left:-5px;
}
